
about.markdown
.vs/vurb.world/v17/.wsuo
.vs/vurb.world/FileContentIndex/read.lock
.vs/vurb.world/FileContentIndex/eef07c69-40e3-4bc8-bb51-8bf347541458.vsidx
.vs/vurb.world/FileContentIndex/63d9f70d-7784-4470-b990-5969ee354aa8.vsidx
.vs/vurb.world/FileContentIndex/60877635-80e3-427d-b90a-664465264615.vsidx
.vs/vurb.world/FileContentIndex/4e316173-bf41-412c-9f7d-f3db013cbda5.vsidx
.vs/vurb.world/config/applicationhost.config
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
node_modules
package.json
package-lock.json
.vs